<% if member? %>
<div style='float: left; width: 60%'>
  <h1>Tell us about your event</h1>
    <form action="/social" method="POST" name="events">
      <input type="text" placeholder="Company name" name="event[company]"/>
      <br/>
      <input type="text" placeholder="Event title" name="event[title]"/>
      <br/>
      <input type='text' placeholder="Date" class='date-pick'>
      <br/>
      <!-- <input type=????? (time thing?) placeholder="time" name="event[time]" -->
      Time:
      <select name='reservations[hour]'>
        <%hours = Array(1..12)%>
        <%hours.each do |hour|%>
          <option name='reservations[hour]'><%=hour%></option>
        <% end %>
      </select>
      Location:
      <input type="text" placeholder="location" name="event[location]"/>
      <br/>
      <textarea placeholder="Tell us about your event" rows="10" cols="50" name="event[details]"></textarea>
      <br/>
      <input type="submit" name="Submit"/>
    </form>
  <% end %>
</div>