<div style="float: left; width: 60%">
  <br/>
   <h1>Thanks for submitting this Event!</h1>
   <hr/>
   <h3>What would you like to do now?</h3>
   <br/>
   <button type="button" id="add event"><a href="/event_form">Add another EVENT</a></button>
   <button type="button" id="goto social"><a href="/social">Go back to SOCIAL</a></button>
</div>