<div id="footer" role="contentinfo">
  <div id="colophon">
    <div id="site-generator">
      <p>Powered by <a href="http://wordpress.org/">WordPress</a>, <a href="http://turing.io">Turing.io</a> and <a href="http://dubbo.org/slidingdoor/">Sliding Door</a> theme.</p>
    </div><!-- #site-generator -->
  </div><!-- #colophon -->
</div><!-- #footer -->
