<div id="wrapper" class="hfeed">
  <div id="header">
    <div id="masthead">
      <div id="branding" role="banner">
              
              

        <h1 id="site-title">
          <span>
            <a href="/" title="Uncubed" rel="home">Uncubed</a>
          </span>
        </h1>
        <div id="site-description">Cowork Different, Denver Coworking, Meetup, Collaborative,  Work Space</div>

  
              
        
        
        


        <div id="imageMenu">
    
        <!-- THESE ARE THE LINKS YOU GO TO WHEN YOU CLICK ON A SLIDING DOOR IMAGE-->
        
        <ul id="menu-main" class=""><li id="menu-item-17" class="bk0" ><a href="/" style="background: url('http://uncubed.johnwilker.com/wp-content/uploads/2011/08/aboutusheader1.png') repeat scroll 0%;">Coworking for the Entrepreneurial Kind</a></li>
<li id="menu-item-21" class="bk1" ><a href="/pricing" style="background: url('http://uncubed.johnwilker.com/wp-content/uploads/2011/08/pricingheader1.png') repeat scroll 0%;">Pricing</a></li>
<li id="menu-item-29" class="bk2" ><a href="/gallery" style="background: url('http://uncubed.johnwilker.com/wp-content/uploads/2011/08/galleryheader.png') repeat scroll 0%;">Gallery</a></li>
<li id="menu-item-46" class="bk3" ><a href="/members" style="background: url('http://uncubed.johnwilker.com/wp-content/uploads/2011/08/membersheader.png') repeat scroll 0%;">Members</a></li>
<li id="menu-item-54" class="bk4" ><a href="/contact-us" style="background: url('http://uncubed.johnwilker.com/wp-content/uploads/2011/08/Contactusheader.png') repeat scroll 0%;">Contact Us</a></li>
<li id="menu-item-96" class="bk5" ><a href="/social" style="background: url('http://uncubed.johnwilker.com/wp-content/uploads/2011/08/socialheader.png') repeat scroll 0%;">Social</a></li>
<li id="menu-item-213" class="bk6" ><a href="/uncubed" style="background: url('http://uncubed.johnwilker.com/wp-content/uploads/2011/08/nearbyheader.png') repeat scroll 0%;">Around Uncubed</a></li>
</ul>       
      </div>
      
        <script type="text/javascript">
      
      window.addEvent('domready', function(){
        var myMenu = new ImageMenu($$('#imageMenu a'),{openWidth:310, border:2, onOpen:function(e,i){location=(e);}});
      });
    </script>  
  
  
        


        
      </div><!-- #branding -->
<!-- 
      <div id="access" role="navigation">
                <div class="skip-link screen-reader-text"><a href="#content" title="Skip to content">Skip to content</a></div>
                <div class="menu"><ul><li class="current_page_item"><a href="http://www.uncubedspace.com/">Home</a></li><li class="page_item page-item-85"><a href="http://www.uncubedspace.com/uncubed/">Around Uncubed</a></li><li class="page_item page-item-50"><a href="http://www.uncubedspace.com/contact-us/">Contact Us</a></li><li class="page_item page-item-26"><a href="http://www.uncubedspace.com/gallery/">Gallery</a></li><li class="page_item page-item-43"><a href="http://www.uncubedspace.com/members/">Members</a></li><li class="page_item page-item-2"><a href="http://www.uncubedspace.com/pricing/">Pricing</a></li><li class="page_item page-item-93"><a href="http://www.uncubedspace.com/social/">Social</a></li></ul></div>
      </div><!-- #access -->
    </div><!-- #masthead -->
  </div><!-- #header -->

  <div id="main">

<div id="sidebar1" class="widget-area" role="complementary"> <ul class="xoxo">


<li id="search" class="widget-container widget_search"> <form role="search" method="get" id="searchform" class="searchform" action="http://www.uncubedspace.com/">
        <div>
          <label class="screen-reader-text" for="s">Search for:</label>
          <input type="text" value="" name="s" id="s" />
          <input type="submit" id="searchsubmit" value="Search" />
        </div>
      </form> </li>

<li id="archives" class="widget-container"> <h3 class="widget-title">Archives</h3>

<ul>  <li><a href='http://www.uncubedspace.com/2011/08/'>August 2011</a></li>
 </ul> </li>

<li id="meta" class="widget-container"> <h3 class="widget-title">Meta</h3> <ul>  <li><a href="http://uncubed.johnwilker.com/wp-login.php">Log in</a></li>  </ul> </li>

 </ul> </div><!-- #primary .widget-area -->



<div id="sidebar2" class="widget-area" role="complementary"> <ul class="xoxo"> 

<li class="widget-container"> <h3 class="widget-title">Categories</h3> <ul>   <li class="cat-item cat-item-1"><a href="http://www.uncubedspace.com/category/uncategorized/" title="View all posts filed under Uncategorized">Uncategorized</a>
</li>

</ul> </li>


 </ul> </div><!-- #secondary .widget-area -->

    <div id="container">
      <div id="content" role="main">


        <div id="post-11" class="post-11 page type-page status-publish hentry">
                      <h2 class="entry-title">Coworking for the Entrepreneurial Kind</h2>
          
          <div class="entry-content">
            <p>Uncubed is a Denver coworking community for entrepreneurial types, from freelancers to single co-founders to small startups. Based in Denver&#8217;s LoDo district, our collaborative environment works similar to an incubator&#8211;a collection of creative minds exchanging ideas and insights with one another in a common space.</p>
<p>Uncubed is the answer for those who are looking to escape the home office, the kitchen table, or the noisy realm of the coffee shop. With our tech-friendly environment and reliable, high-speed wireless internet, we aim to be a haven for those who work and create in the tech and creative fields.</p>
<p>We also host various meetups and workshops throughout the week for networking and educational opportunities. In short, everything we do is true to our mission: to use collaborative coworking as a tool to develop Denver&#8217;s entrepreneurial scene into a thriving hub of opportunity.</p>
<p>Uncube yourself and cowork different. Come check us out!</p>
<p><a onclick="javascript:pageTracker._trackPageview('/outgoing/www.uncubedspace.com/contact-us/');"  href="http://www.uncubedspace.com/contact-us/" title="Contact Us">Contact Us</a> to schedule a tour!</p>
                                  </div><!-- .entry-content -->
        </div><!-- #post-## -->

        
      <div id="comments">


  <p class="nocomments">Comments are closed.</p>


    
</div><!-- #comments -->


      </div><!-- #content -->
    </div><!-- #container -->

  </div><!-- #main -->

  <div id="footer" role="contentinfo">
    <div id="colophon">



      <div id="site-generator">
      
      <!-- If you'd like to support WordPress, having the "powered by" link somewhere on your blog is the best way; it's our only promotion or advertising. -->
      
    <p>Powered by <a href="http://wordpress.org/">WordPress</a> and <a href="http://dubbo.org/slidingdoor/">Sliding Door</a> theme.</p>
      </div><!-- #site-generator -->

    </div><!-- #colophon -->
  </div><!-- #footer -->

</div><!-- #wrapper -->


<!-- tracker added by Ultimate Google Analytics plugin v1.6.0: http://www.oratransplant.nl/uga -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-25838312-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
      <script type="text/javascript">
        (function($){
          $(function(){
            $("img.flickr.square,img.flickr.thumbnail,img.flickr.small").flightbox({size_callback: get_sizes});
          });
        })(jQuery);
      </script>
    <script type='text/javascript' src='http://uncubed.johnwilker.com/wp-includes/js/jquery/ui/jquery.ui.widget.min.js?ver=1.10.3'></script>
<script type='text/javascript' src='http://uncubed.johnwilker.com/wp-includes/js/jquery/ui/jquery.ui.tabs.min.js?ver=1.10.3'></script>
