  <div id="container">
    <div id="content" role="main">
      <div id="post-11" class="post-11 page type-page status-publish hentry">
        <%= erb :page_content, locals: {content: content} %>
      </div><!-- #post-11 -->
    </div><!-- #content -->
  </div><!-- #container -->
</div><!-- #main -->

<script type='text/javascript' src='http://uncubed.johnwilker.com/wp-includes/js/jquery/ui/jquery.ui.tabs.min.js?ver=1.10.3'></script>
