  <div id="container">
    <div id="content" role="main">
      <div id="post-11" class="post-11 page type-page status-publish hentry">
        <!-- Display Title -->
        <% if content[:page] %>
          <% if admin? %>
            <form action='/pages/<%= content[:page] %>/edit' method=GET>
              <input type='submit' value="Edit Content">
            </form>
          <% end %>
          <h1><%= content[:title] %></h1>
        <% else %>
          <p>No 'title' in DB</p>
        <% end %>
        <!-- Display Body -->
        <% if content[:page] %>
          <%= content[:body] %>
        <% else %>
          <p>No 'body' in DB</p>
        <% end %>
      </div><!-- #post-11 -->
    </div><!-- #content -->
  </div><!-- #container -->
</div><!-- #main -->

<script type='text/javascript' src='http://uncubed.johnwilker.com/wp-includes/js/jquery/ui/jquery.ui.tabs.min.js?ver=1.10.3'></script>
