  <div id="container">
    <div id="content" role="main">
      <div id="post-11" class="post-11 page type-page status-publish hentry">
        <h2 class="entry-title">Coworking for the Entrepreneurial Kind</h2>

          <div class="entry-content">
            <p>Uncubed is a Denver coworking community for entrepreneurial types, from freelancers to single co-founders to small startups. Based in Denver&#8217;s LoDo district, our collaborative environment works similar to an incubator&#8211;a collection of creative minds exchanging ideas and insights with one another in a common space.</p>
            <p>Uncubed is the answer for those who are looking to escape the home office, the kitchen table, or the noisy realm of the coffee shop. With our tech-friendly environment and reliable, high-speed wireless internet, we aim to be a haven for those who work and create in the tech and creative fields.</p>
            <p>We also host various meetups and workshops throughout the week for networking and educational opportunities. In short, everything we do is true to our mission: to use collaborative coworking as a tool to develop Denver&#8217;s entrepreneurial scene into a thriving hub of opportunity.</p>
            <p>Uncube yourself and cowork different. Come check us out!</p>
            <p><a onclick="javascript:pageTracker._trackPageview('/outgoing/www.uncubedspace.com/contact-us/');"  href="http://www.uncubedspace.com/contact-us/" title="Contact Us">Contact Us</a> to schedule a tour!</p>
          </div><!-- .entry-content -->

      <% hour = Time.now.strftime('%H').to_i %>
      <% if hour < 12 %>
        <% salutation = 'Good morning!' %>
      <% elsif hour < 18 %>
        <% salutation = 'Good afternoon!' %>
      <% else %>
        <% salutation = 'Good evening!' %>
      <% end %>
      <div id='banner' style='display:none'>
        <%= "#{salutation} Thanks for visiting, if you have any questions call (555) 555-5555" %>
      </div>
      </div><!-- #post-## -->

      <div id="comments">
        <p class="nocomments">Comments are closed.</p>
      </div><!-- #comments -->

    </div><!-- #content -->
  </div><!-- #container -->
</div><!-- #main -->

<!-- </div>#wrapper -->
<script type='text/javascript' src='http://uncubed.johnwilker.com/wp-includes/js/jquery/ui/jquery.ui.tabs.min.js?ver=1.10.3'></script>
