<link rel="profile" href="http://gmpg.org/xfn/11" />
<link rel="stylesheet" type="text/css" media="all" href="http://uncubed.johnwilker.com/wp-content/themes/sliding-door/style.css" />
<link rel="pingback" href="http://uncubed.johnwilker.com/xmlrpc.php" />
<link rel="alternate" type="application/rss+xml" title="Uncubed &raquo; Feed" href="http://www.uncubedspace.com/feed/" />
<link rel="alternate" type="application/rss+xml" title="Uncubed &raquo; Comments Feed" href="http://www.uncubedspace.com/comments/feed/" />
<link rel='stylesheet' id='flickr-gallery-css'  href='http://uncubed.johnwilker.com/wp-content/plugins/flickr-gallery/flickr-gallery.css?ver=1.5.2' type='text/css' media='all' />
<link rel='stylesheet' id='fg-jquery-ui-css'  href='http://uncubed.johnwilker.com/wp-content/plugins/flickr-gallery/tab-theme/jquery-ui-1.7.3.css?ver=1.7.3' type='text/css' media='all' />
<link rel='stylesheet' id='jquery-flightbox-css'  href='http://uncubed.johnwilker.com/wp-content/plugins/flickr-gallery/flightbox/jquery.flightbox.css?ver=1.5.2' type='text/css' media='all' />
<link rel='stylesheet' id='flick-css'  href='http://uncubed.johnwilker.com/wp-content/plugins/mailchimp//css/flick/flick.css?ver=3.8.3' type='text/css' media='all' />
<link rel='stylesheet' id='mailchimpSF_main_css-css'  href='http://www.uncubedspace.com/?mcsf_action=main_css&#038;ver=3.8.3' type='text/css' media='all' />
<!--[if IE]>
<link rel='stylesheet' id='mailchimpSF_ie_css-css'  href='http://uncubed.johnwilker.com/wp-content/plugins/mailchimp/css/ie.css?ver=3.8.3' type='text/css' media='all' />
<![endif]-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type='text/javascript' src='http://uncubed.johnwilker.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript' src='http://uncubed.johnwilker.com/wp-includes/js/jquery/ui/jquery.ui.core.min.js?ver=1.10.3'></script>
<script type='text/javascript' src='http://uncubed.johnwilker.com/wp-content/plugins/flickr-gallery/flightbox/jquery.flightbox.js?ver=1.5.2'></script>
<script type='text/javascript' src='http://uncubed.johnwilker.com/wp-content/plugins/mailchimp/js/scrollTo.js?ver=1.4.1'></script>
<script type='text/javascript' src='http://uncubed.johnwilker.com/wp-includes/js/jquery/jquery.form.min.js?ver=3.37.0'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var mailchimpSF = {"ajax_url":"http:\/\/www.uncubedspace.com\/"};
/* ]]> */
</script>
<script type='text/javascript' src='http://uncubed.johnwilker.com/wp-content/plugins/mailchimp/js/mailchimp.js?ver=1.4.1'></script>
<script type='text/javascript' src='http://uncubed.johnwilker.com/wp-content/plugins/mailchimp//js/datepicker.js?ver=3.8.3'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://uncubed.johnwilker.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://uncubed.johnwilker.com/wp-includes/wlwmanifest.xml" />
<link rel='prev' title='Pricing' href='http://www.uncubedspace.com/pricing/' />
<link rel='next' title='Gallery' href='http://www.uncubedspace.com/gallery/' />
<meta name="generator" content="WordPress 3.8.3" />
<link rel='canonical' href='http://www.uncubedspace.com/' />
<link rel='shortlink' href='http://www.uncubedspace.com/?p=11' />
<link rel="stylesheet" href="http://uncubed.johnwilker.com/wp-content/plugins/flexi-quote-rotator/styles/wide-rounded.css" type="text/css" media="screen" />
<link href='http://fonts.googleapis.com/css?family=Dosis:400,800' rel='stylesheet' type='text/css'>
      <script type='text/javascript'>
        quoteRotator = {
          i: 1,
          quotes: ["<span id='quote'>Coffee shops are nice, but not a long term solution, and working from home was making me talk to my dogs too much</span> <span id='quoteauthor'>John Wilker</span>",
"<span id='quote'>We spent the last 8 weeks at Uncubed and we loved it. It provided a great transition for us after our experience at TechStars. Our FullContact team of awesome engineers (oh btw, we’re hiring) got the chance to share problems with engineers from other tech companies. This bettered everyone involved and often brought fresh insights to challenges we were working on.<br /><br /><a href=\'http://fullcontact.com/2011/11/coworking-rocks-and-heres-why/\'>link</a></span> <span id='quoteauthor'>Full Contact</span>",

          ],
          numQuotes: 2,
          fadeDuration: 5,
          fadeoutDuration: 5,
          delay: 15,
          quotesInit: function(){
            if (this.numQuotes < 1){
              document.getElementById('quoterotator').innerHTML="No Quotes Found";
            } else {
              this.quoteRotate();
              setInterval('quoteRotator.quoteRotate()', (this.fadeDuration + this.fadeoutDuration + this.delay) * 1000);
            }
          },
          quoteRotate: function(){
            jQuery('#quoterotator').hide().html(this.quotes[this.i - 1]).fadeIn(this.fadeDuration * 1000).css('filter','').delay(this.delay * 1000).fadeOut(this.fadeoutDuration * 1000);
            this.i = this.i % (this.numQuotes) + 1;
          }
        }
      </script>
  <script type="text/javascript">
    jQuery(function($) {
      $('.date-pick').each(function() {
        var format = $(this).data('format') || 'mm/dd/yyyy';
        format = format.replace(/yyyy/i, 'yy');
        $(this).datepicker({
          autoFocusNextInput: true,
          constrainInput: false,
          changeMonth: true,
          changeYear: true,
          beforeShow: function(input, inst) { $('#ui-datepicker-div').addClass('show'); },
          dateFormat: format.toLowerCase(),
        });
      });
      d = new Date();
      $('.birthdate-pick').each(function() {
        var format = $(this).data('format') || 'mm/dd';
        format = format.replace(/yyyy/i, 'yy');
        $(this).datepicker({
          autoFocusNextInput: true,
          constrainInput: false,
          changeMonth: true,
          changeYear: false,
          minDate: new Date(d.getFullYear(), 1-1, 1),
          maxDate: new Date(d.getFullYear(), 12-1, 31),
          beforeShow: function(input, inst) { $('#ui-datepicker-div').removeClass('show'); },
          dateFormat: format.toLowerCase(),
        });
      });
    });
  </script>
  <script>
    jQuery(document).ready(function(){
        jQuery( "#banner" ).show( "slow", function() {

        });
    });
  </script>
  <script type="text/javascript">
    var get_sizes = null;
  </script>

  <style type="text/css" id="custom-background-css">
    body.custom-background { background-color: #000000; }
  </style>

<link rel="stylesheet" type="text/css" media="screen" href="http://uncubed.johnwilker.com/wp-content/themes/sliding-door/light.css">
<link rel="stylesheet" type="text/css" media="screen" href="http://uncubed.johnwilker.com/wp-content/themes/sliding-door/imagemenu/imageMenu.css">
<script type="text/javascript" src="http://uncubed.johnwilker.com/wp-content/themes/sliding-door/imagemenu/mootools.js"></script>
<script type="text/javascript" src="http://uncubed.johnwilker.com/wp-content/themes/sliding-door/imagemenu/imageMenu.js"></script>
<link href="/styles.css" rel="stylesheet"/>
