<!DOCTYPE html>
<html lang="en-US">
<head>
  <%= erb :layout_head %>
</head>
<body class="home page page-id-11 page-template-default custom-background" >
  <div id="wrapper" class="hfeed">
    <div id="header">
      <div id="masthead">
        <div id="branding" role="banner">
          <h1 id="site-title">
            <span>
              <a href="/" title="Uncubed" rel="home" style="font-family: 'Dosis', sans-serif; font-weight: 800;">UNCUBED</a>
            </span>
          </h1>
          <div id="site-description" class="g-font">Cowork Different, Denver Coworking, Meetup, Collaborative,  Work Space</div>
          <div id="imageMenu">
            <!-- THESE ARE THE LINKS YOU GO TO WHEN YOU CLICK ON A SLIDING DOOR IMAGE-->
            <ul id="menu-main" class=""><li id="menu-item-17" class="bk0" ><a href="/" style="background: url('http://uncubed.johnwilker.com/wp-content/uploads/2011/08/aboutusheader1.png') repeat scroll 0%;">Coworking for the Entrepreneurial Kind</a></li>
              <li id="menu-item-21" class="bk1" ><a href="/pricing" style="background: url('http://uncubed.johnwilker.com/wp-content/uploads/2011/08/pricingheader1.png') repeat scroll 0%;">Pricing</a></li>
              <li id="menu-item-29" class="bk2" ><a href="/gallery" style="background: url('http://uncubed.johnwilker.com/wp-content/uploads/2011/08/galleryheader.png') repeat scroll 0%;">Gallery</a></li>
              <li id="menu-item-46" class="bk3" ><a href="/members" style="background: url('http://uncubed.johnwilker.com/wp-content/uploads/2011/08/membersheader.png') repeat scroll 0%;">Members</a></li>
              <li id="menu-item-54" class="bk4" ><a href="/contact-us" style="background: url('http://uncubed.johnwilker.com/wp-content/uploads/2011/08/Contactusheader.png') repeat scroll 0%;">Contact Us</a></li>
              <li id="menu-item-96" class="bk5" ><a href="/social" style="background: url('http://uncubed.johnwilker.com/wp-content/uploads/2011/08/socialheader.png') repeat scroll 0%;">Social</a></li>
              <li id="menu-item-213" class="bk6" ><a href="/nearby" style="background: url('http://uncubed.johnwilker.com/wp-content/uploads/2011/08/nearbyheader.png') repeat scroll 0%;">Around Uncubed</a></li>
            </ul>
          </div>

          <!-- MENU MANIPULATION JAVASCRIPT-->
          <script type="text/javascript">
            window.addEvent('domready', function(){
              var myMenu = new ImageMenu($$('#imageMenu a'),{openWidth:310, border:2, onOpen:function(e,i){location=(e);}});
            });
          </script>
        </div><!-- #branding -->
      </div><!-- #masthead -->
    </div><!-- #header -->
<div id="main">
  <div id="sidebar1" class="widget-area" role="complementary">
    <ul class="xoxo">
      <li id="search" class="widget-container widget_search">
        <form role="search" method="get" id="searchform" class="searchform" action="/">
          <div>
            <label class="screen-reader-text" for="s">Search for:</label>
            <input type="text" value="" name="s" id="s" />
            <input type="submit" id="searchsubmit" value="Search" />
          </div>
        </form>
      </li>
      <li id="archives" class="widget-container"> <h3 class="widget-title">Archives</h3>
        <ul>
          <li><a href='http://www.uncubedspace.com/2011/08/'>August 2011</a></li>
        </ul>
      </li>
        <li id="meta" class="widget-container">
          <h3 class="widget-title">Meta</h3>
          <ul>
            <% if !admin? %>
              <li><a href="/login">Log in</a></li>
            <% else%>
              <li><a href="/logout">Log out</a></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- #primary .widget-area -->
    <% if !admin? %>
      <% hour = Time.now.strftime('%H').to_i %>
      <% if hour < 12 %>
        <% salutation = 'Good morning!' %>
      <% elsif hour < 18 %>
        <% salutation = 'Good afternoon!' %>
      <% else %>
        <% salutation = 'Good evening!' %>
      <% end %>
      <div id='banner' style='display:none; color: #369de1;'>
        <%= "#{salutation} Thanks for visiting, if you have any questions call (555) 555-5555 <br/><br/>" %>
      </div>
    <% end %>
    <div id="sidebar2" class="widget-area" role="complementary">
      <ul class="xoxo">
        <li class="widget-container"> <h3 class="widget-title">Categories</h3>
          <ul>
            <li class="cat-item cat-item-1"><a href="http://www.uncubedspace.com/category/uncategorized/" title="View all posts filed under Uncategorized">Uncategorized</a>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- #secondary .widget-area -->

    <%= yield %>

    <%= erb :footer %>
    </div>
  </body>
</html>
