<h1>Members</h1>
<p>Membership count: <%= members.count %></p>
<% if members.empty? %>
  <p>There are no members registered yet.</p>
<% else %>
  <% members.each do |member| %>
    <p><%= "#{member.first_name} #{member.last_name}" %></p>
  <% end %>
<% end %>
<br/>
<% if admin? %>
  <form action='/members' method='POST' style='float: left;'>
    <h2>[Input a new member]</h2><br/>
    <strong>First Name:</strong><br><input type='text' name='member[first_name]'/><br/>
    <strong>Last Name: </strong><br><input type='text' name='member[last_name]'/><br/>
    <strong>Email: </strong><br><input type='text' name='member[email_address]'/><br/></br>
    <input type='submit' value='Add Member'/>
  </form>
<% end %>
