<h1 id="member-title">Members</h1>
<p>Membership count: <%= members.count %></p>
<% if members.empty? %>
  <p>There are no members registered yet.</p>
<% else %>
  <%= erb :member_table, locals: {members: members, members_with_types: members_with_types} %>
<% end %>
<br/>
<%= erb :add_member_form, locals: {members: members} %>
