<div id="main">

    <div id="container" class="one-column">
      <div id="content" role="main">


        <div id="post-85" class="post-85 page type-page status-publish hentry">
          <h1 class="entry-title">Around Uncubed</h1>
          <div class="entry-content">
            <p>There&#8217;s so much to do around Uncubed. Downtown is right outside our door. There&#8217;s no end to the great coffee and lunch spots you can reach from our central location.</p>
<p>&nbsp;</p>
<p><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=215680761322579246759.0004870a2c2a59f579191&amp;gl=us&amp;ie=UTF8&amp;t=m&amp;ll=39.754218,-105.000372&amp;spn=0.011548,0.018239&amp;z=15&amp;iwloc=0004d4ea4bd56d5ac0461&amp;output=embed"></iframe><br /><small>View <a onclick="javascript:pageTracker._trackPageview('/outgoing/maps.google.com/maps/ms?msa=0&amp;msid=215680761322579246759.0004870a2c2a59f579191&amp;gl=us&amp;ie=UTF8&amp;t=m&amp;ll=39.754218,-105.000372&amp;spn=0.011548,0.018239&amp;z=15&amp;iwloc=0004d4ea4bd56d5ac0461&amp;source=embed');"  href="https://maps.google.com/maps/ms?msa=0&amp;msid=215680761322579246759.0004870a2c2a59f579191&amp;gl=us&amp;ie=UTF8&amp;t=m&amp;ll=39.754218,-105.000372&amp;spn=0.011548,0.018239&amp;z=15&amp;iwloc=0004d4ea4bd56d5ac0461&amp;source=embed" style="color:#0000FF;text-align:left">Uncubed</a> in a larger map</small></p>
                                  </div><!-- .entry-content -->
        </div><!-- #post-## -->

        
      <div id="comments">


  <p class="nocomments">Comments are closed.</p>


    
</div><!-- #comments -->


      </div><!-- #content -->
    </div><!-- #container -->

  </div><!-- #main -->