<div>
  <h1>Pricing</h1>
  <p>&nbsp;</p>
  <div id="pricingDescription">
    Wether you are an independent contractor or a business looking to expand your
    workspace options, we have a plan designed for you.
    <div id='contactUsLink'><a href='/contact-us'>Contact us</a> to see what Uncubed is all about!</div>
  </div>
  <h3>OPEN DESK MEMBERSHIP</h3>
  <div>
    <ul>
      <li>Mon-Fri / 730-530 keycard access</li>
      <li>use any available open area desk</li>
      <li>each seat has monitor available</li>
      <li>conference room usage: not included</li>
      <li>phone booth usage: full</li>
      <li>kitchen access: full</li>
      <li>$150/month per member</li>
      <li><strong>SOLD OUT</strong> (contact us to be on waiting list)</li>
    </ul>
  <p>&nbsp;</p>
  </div>


  <div>
    <h3>designated desk membership</h3>
    <ul>
      <li>365/24/7 keycard access</li>
      <li>dedicated desk for your use only</li>
      <li>GeekDesk (adjustable for sitting or standing) provided</li>
      <li>conference room usage: limited</li>
      <li>phone booth usage: full</li>
      <li>kitchen access: full</li>
      <li>$395/month</li>
      <li><strong>SOLD OUT</strong> (contact us to be on waiting list)</li>
    </ul>
    <p>&nbsp;</p>
  </div>


  <div>
    <h3>designated suite memebership</h3>
      <ul>
        <li>365/24/7 keycard access</li>
        <li>dedicated suite for your use only</li>
        <li>conference room usage: full</li>
        <li>phone booth usage: full</li>
        <li>kitchen access: full</li>
        <li><strong>SOLD OUT</strong> (contact us to be on waiting list)</li>
      </ul>
  </div>
  <!--we need to store this to a DB somehow...prob SQL :)-->
  <div id='reserveRoom'
   <h3>Reserve a confrence room</h3>
   <form action='/' method='POST'>
      <p>Date: <input type='text' class='date-pick'></p>
      <p>Time:</p>
      <select name='hour'>
        <%hours = Array(1..12)%>
        <%hours.each do |hour|%>
          <option value='hour'><%=hour%></option>
        <% end %>
      </select>
        <!-- You can book a room in one hour blocks-->
        <!-- minutes field only is in 15 minute increments startinga at 00 -->
      <select name='minute'>
        <%minutes = [00, 15, 30, 45]%>
        <%minutes.each do |minute|%>
          <option value='minute'><%=minute%></option>
        <% end %>
      </select>
      <select name='ampm'
        <option value='am'>am</option>
        <option value='pm'>pm</option>
      </select>
      <p>Party Size:</p>
      <select name='party_size'>
        <%size = Array(1..20)%>
        <%size.each do |number|%>
          <option value='size'><%=number%></option>
        <% end %>
      </select>
      <input type='submit'/>
    </form>



  </div>

                                  </div><!-- .entry-content -->
        </div><!-- #post-## -->


      <div id="comments">


  <p class="nocomments">Comments are closed.</p>



</div><!-- #comments -->


      </div><!-- #content -->
    </div><!-- #container -->

  </div><!-- #main -->
