<div style='float: left; width: 60%'>
  <div style='float: left; width: 50%'>
  <h1>Pricing</h1>
  <p>&nbsp;</p>
  <div id="pricingDescription">
    Wether you are an independent contractor or a
    business looking to expand your workspace options,
    we have a plan designed for you.
    <div id='contactUsLink'><a href='/contact-us'>Contact us</a> to see what Uncubed is all about!</div>
  </div>
  <h3>OPEN DESK MEMBERSHIP</h3>
  <div>
    <ul>
      <li>Mon-Fri / 730-530 keycard access</li>
      <li>use any available open area desk</li>
      <li>each seat has monitor available</li>
      <li>conference room usage: not included</li>
      <li>phone booth usage: full</li>
      <li>kitchen access: full</li>
      <li>$150/month per member</li>
      <li><strong>SOLD OUT</strong> (contact us to be on waiting list)</li>
    </ul>
  <p>&nbsp;</p>
  </div>

  <div>
    <h3>designated desk membership</h3>
    <ul>
      <li>365/24/7 keycard access</li>
      <li>dedicated desk for your use only</li>
      <li>GeekDesk (adjustable for sitting or standing) provided</li>
      <li>conference room usage: limited</li>
      <li>phone booth usage: full</li>
      <li>kitchen access: full</li>
      <li>$395/month</li>
      <li><strong>SOLD OUT</strong> (contact us to be on waiting list)</li>
    </ul>
    <p>&nbsp;</p>
  </div>

    <div>
      <h3>designated suite memebership</h3>
        <ul>
          <li>365/24/7 keycard access</li>
          <li>dedicated suite for your use only</li>
          <li>conference room usage: full</li>
          <li>phone booth usage: full</li>
          <li>kitchen access: full</li>
          <li><strong>SOLD OUT</strong> (contact us to be on waiting list)</li>
        </ul>
    </div>
    
    <%= erb :membership_types_table, locals: {member_types: member_types} %>
    <%= erb :add_member_type_form %>

  </div>

  <%= erb :reserve_room_form %>
  <%= erb :current_reservation_list, locals: {reservations: reservations} %>

</div><!-- .entry-content -->
</div><!-- #post-## -->

      </div><!-- #content -->
    </div><!-- #container -->

  </div><!-- #main -->
