<div>
<div></div>
<p>&nbsp;</p>
<div id="pricingDescription">
  Wether you are an independent contractor or a business looking to expand your
  workspace options, we have a plan designed for you.
  <div id='contactUsLink'><a href='/contact-us'>Contact us</a> to see what Uncubed is all about!</div>
</div>
<div><b>OPEN DESK MEMBERSHIP</b></div>
<div>
<ul>
<li>Mon-Fri / 730-530 keycard access</li>
<li>use any available open area desk</li>
<li>each seat has monitor available</li>
<li>conference room usage: not included</li>
<li>phone booth usage: full</li>
<li>kitchen access: full</li>
<li>$150/month per member</li>
<li><strong>SOLD OUT</strong> (contact us to be on waiting list)</li>
</ul>
<p>&nbsp;</p>
</div>
<div></div>
<div></div>
<div><b>DESIGNATED DESK MEMBERSHIP</b></div>
<div>
<ul>
<li>365/24/7 keycard access</li>
<li>dedicated desk for your use only</li>
<li>GeekDesk (adjustable for sitting or standing) provided</li>
<li>conference room usage: limited</li>
<li>phone booth usage: full</li>
<li>kitchen access: full</li>
<li>$395/month</li>
<li><strong>SOLD OUT</strong> (contact us to be on waiting list)</li>
</ul>
<p>&nbsp;</p>
<div>
<div></div>
<div></div>
<div><b>DESIGNATED SUITE MEMBERSHIP</b></div>
<div>
<ul>
<li>365/24/7 keycard access</li>
<li>dedicated suite for your use only</li>
<li>conference room usage: full</li>
<li>phone booth usage: full</li>
<li>kitchen access: full</li>
<li><strong>SOLD OUT</strong> (contact us to be on waiting list)</li>
</ul>
</div>
</div>
</div>
</div>
                                  </div><!-- .entry-content -->
        </div><!-- #post-## -->


      <div id="comments">


  <p class="nocomments">Comments are closed.</p>



</div><!-- #comments -->


      </div><!-- #content -->
    </div><!-- #container -->

  </div><!-- #main -->
